PORT=8000
MONGODB_URI=mongodb://Shivam:shivam123@ac-i1rxm9h-shard-00-00.peppmzu.mongodb.net:27017,ac-i1rxm9h-shard-00-01.peppmzu.mongodb.net:27017,ac-i1rxm9h-shard-00-02.peppmzu.mongodb.net:27017/?ssl=true&replicaSet=atlas-tkytqr-shard-0&authSource=admin&appName=Cluster0